[user]
	name = Christhopher Leão
	email = christhopherleao@icloud.com
  signingKey = C2F01FDA04A9B17F26A6B6621BED5B3C80A00A0C

[includeIf "gitdir:~/dev/"]
  path = ~/dev/.gitconfig

[core]
	editor = code
  autocrlf = input
  excludesfile = ~/.gitignore

[commit]
	gpgsign = true

[tag]
	forceSignAnnotated = true

[gpg]
	program = gpg
