[user]
	name = Christhopher Lion
	email = christhopherleao@icloud.com
  signingKey = DD3CBF78AE6C5E602466500692B716531638375E

[core]
	editor = code-insiders

[commit]
	gpgsign = true

[tag]
	forceSignAnnotated = true

[gpg]
	program = gpg
